<div id="fmenu">
<br><br><br><br><br><br>
<center id="close"><i class="fa fa-times fa-4x" ></i></center>
<br><br>
<h2 class="text-center" style="font-family: 'museo-sans-rounded';" ><a href="/index.html">HOME</a></h2>
<h2 class="text-center" style="font-family: 'museo-sans-rounded';" ><a href="/about.html">ABOUT</a></h2>
<h2 id="freebies" class="text-center" style="font-family: 'museo-sans-rounded';" ><a href="/freebies.html">FREEBIES</a></h2>
<h2 class="text-center" style="font-family: 'museo-sans-rounded';" ><a href="/contact.html">CONTACT</a></h2>
</div>